ul {
  list-style: none;

  li {
    cursor: pointer;

    &:hover {
      background-color: antiquewhite;
    }
  }

  .selected {
    background-color: aqua;

    &:hover {
      background-color: aqua
    }
  }
}

