<!-- <div>{{hero.id}}:</div>
<div>{{hero.name | uppercase}} </div>
<input [(ngModel)]="hero.name" placeholder="name" type="text" /> -->

<ul>
  <li *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}" [class.selected]="hero === selectedHero">
    {{hero.name}}
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<div>
  <label>
    Hero name:
    <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">add</button>
  </label>
</div>
